BOT_TOKEN=seu_token_do_botfather
CHAT_ID=7275154764
PC_MAC=E0:73:E7:69:BF:BA
TV_MAC=F0:86:20:D5:BA:0C
BROADCAST_IP=192.168.15.255
PC_IP=192.168.15.XXX
AGENT_PORT=5050
AGENT_KEY=uma_chave_secreta_qualquer
POLL_INTERVAL_MS=5000
